body {
    overflow: hidden;
}

.main {
    background: url(../img/bg.png) no-repeat center center; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
/*    background-position: 20% 20%;*/
    padding: 3em 3em 3em 3em;
    height: 70%;
}

.controls {
    height: 30%;
}

div {
    text-align: center;
}

div div div {
    display: inline-block;
}

h1{
    /* Align headers in the center */
    text-align: center;
}

input#cmd{

}
input.button{
    padding: 5px;
}
input#N{
    text-align: center;
}
input#W{
    /*float:left;*/
}
input#E{
    /*float:right;*/
}
input#S{
    text-align: center;
}